<div class="container">
  <div class="row">
      <table mat-table [dataSource] = "foodMenu">
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Item Id </th>
              <td mat-cell *matCellDef="let item"> {{item.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Item Name </th>
              <td mat-cell *matCellDef="let item">
                  <mat-form-field *ngIf="item.editenable; else justLable" class="example-full-width">
                      <input matInput [(ngModel)]="item.name">
                  </mat-form-field>
                  <ng-template #justLable>
                      {{ item.name }}
                  </ng-template>
              </td>
          </ng-container>
          <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Item Category </th>
              <td mat-cell *matCellDef="let item">
                  <mat-form-field *ngIf="item.editenable; else justLable" class="example-full-width">
                      <input matInput [(ngModel)]="item.category">
                  </mat-form-field>
                  <ng-template #justLable>
                      {{ item.category }}
                  </ng-template>
              </td>
          </ng-container>
          <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Item price </th>
              <td mat-cell *matCellDef="let item">
                  <mat-form-field *ngIf="item.editenable; else justLable" class="example-full-width">
                      <input matInput [(ngModel)]="item.price">
                  </mat-form-field>
                  <ng-template #justLable>
                          {{item.price}}
                  </ng-template>
              </td>
          </ng-container>

          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let item">
                <button mat-raised-button class="btn btn-danger" (click)="deleteMenuItem(item.id)">Delete</button>
              </td>
          </ng-container>
          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let item">
                  <button mat-raised-button class="btn btn-info" (click)="editMenuItem(item)">
                       {{ item.editenable ? 'Ok' : 'Edit'}}
                  </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="foodColumns"></tr>
          <tr mat-row *matRowDef="let foodColumns; columns: foodColumns"></tr>
      </table>
  </div>
</div>