<div class="container top-padding">
    <div class="row">
      <div class="col col-md-12">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Tables">
                    <div class="container top-padding">
                      <div class="row">
                        <div class="col col-md-12">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                          <table mat-table [dataSource]="tablesData">
                              <ng-container matColumnDef="tableId">
                                  <th mat-header-cell *matHeaderCellDef> Table Id </th>
                                  <td mat-cell *matCellDef="let table"> 
                                      <mat-form-field *ngIf="table.editenable; else justLable" class="example-full-width">
                                          <input matInput [(ngModel)]="table.tableId">
                                      </mat-form-field>
                                      <ng-template #justLable>
                                          {{ table.tableId }}
                                      </ng-template>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="tableCapacity">
                                    <th mat-header-cell *matHeaderCellDef> Table Capacity </th>
                                    <td mat-cell *matCellDef="let table"> 
                                        <mat-form-field *ngIf="table.editenable; else justLable" class="example-full-width">
                                            <input matInput [(ngModel)]="table.tableCapacity">
                                        </mat-form-field>
                                        <ng-template #justLable>
                                            {{ table.tableCapacity }}
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="minimumCapacity">
                                    <th mat-header-cell *matHeaderCellDef> Table Capacity </th>
                                    <td mat-cell *matCellDef="let table">
                                        <mat-form-field *ngIf="table.editenable; else justLable" class="example-full-width">
                                            <input matInput [(ngModel)]="table.minimumCapacity">
                                        </mat-form-field>
                                        <ng-template #justLable>
                                            {{ table.minimumCapacity }}
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="manager">
                                    <th mat-header-cell *matHeaderCellDef> manager </th>
                                    <td mat-cell *matCellDef="let table">
                                        <mat-form-field *ngIf="table.editenable; else justLable" class="example-full-width">
                                            <input matInput [(ngModel)]="table.manager">
                                        </mat-form-field>
                                        <ng-template #justLable>
                                            {{ table.manager }}
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="update">
                                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                                    <td mat-cell *matCellDef="let table"> 
                                      <button (click)="editTable(table)" mat-raised-button class="btn btn-info">
                                        {{ table.editenable ? 'Ok' : 'Edit'}}
                                    </button></td>
                                </ng-container>
                                <ng-container matColumnDef="delete">
                                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                                    <td mat-cell *matCellDef="let table"> <button (click)="deleteTable(table)" mat-raised-button class="btn btn-danger">Delete</button></td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let tablesData; columns: columnsToDisplay"></tr>
                            </table>
                            </div>
                            
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Add Table">
                    <div class="container">
                      <div class="row justify-content-center">
                          <div class="col col-md-6 text-center">
                              <mat-card>
                                  <form>
                                    <mat-card-subtitle>Add Table</mat-card-subtitle>
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Table Capacity</mat-label>
                                          <input matInput placeholder="Table Capacity">
                                      </mat-form-field><br>
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Table Minimum Capacity</mat-label>
                                          <input matInput placeholder="Minimum Capacity">
                                      </mat-form-field><br>
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>manager</mat-label>
                                          <mat-select placeholder="Select Manager">
                                              <mat-option>None</mat-option>
                                              <mat-option *ngFor="let manager of managers" [value]="manager.id">{{manager.username}}</mat-option>
                                            </mat-select>
                                      </mat-form-field><br>
                                      <button mat-raised-button class="text-center btn btn-success">Add Table</button>
                                  </form>
                              </mat-card>
                      </div>
                      </div>
                    </div>
                  </mat-tab>
            </mat-tab-group>
        </mat-card>
      </div>
    </div>
</div>

