.mat-form-field {
    width: 100%;
}
.mat-button-toggle-checked {
    background-color: #007bff;
    color: #fff !important;
}
.mat-raised-button {
    padding: 18px;
    width: 35%;
    font-size: 25px;
    background: #0ba22d;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .btn-responsive{
        font-size: 15px;
    }
}