<div class="main-background">
    <div class="row main-background">
      <div class="col col-md-2"></div>
      <div class="col col-md-8"></div>
      <div class="col col-md-2"></div>
    </div>
</div>
<div class="container">
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <mat-card>
        <mat-card-title class="text-center">Feedback</mat-card-title>
    </mat-card>
    <mat-card>
    <div class="row">
          <div class="container text-center">
              <div class="row">
                <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name">
                    </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name">
                    </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>Email id</mat-label>
                        <input matInput placeholder="Email id">
                    </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput placeholder="Mobile Number">
                    </mat-form-field>
                </div>
              </div>
                <div *ngFor ="let question of questions;index as i">
                <h5>{{question}}</h5>
                <mat-button-toggle-group name="question{{i}}" aria-label="experiance">
                    <mat-button-toggle value="very-bad">Very Bad</mat-button-toggle>
                    <mat-button-toggle value="bad">Bad</mat-button-toggle>
                    <mat-button-toggle value="Satisfactory">Satisfactory</mat-button-toggle>
                    <mat-button-toggle value="good">Good</mat-button-toggle>
                    <mat-button-toggle value="excellent">Excellent</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <br>
                <hr>
              </div>
              <h5>How likely are you to recommend Paradise to your friends & family? *</h5>
              <mat-button-toggle-group name="userExperiance" aria-label="experiance">
                  <mat-button-toggle class="btn btn" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</mat-button-toggle>
                </mat-button-toggle-group>
              <br><br><br>
              <button class="btn btn-responsive btn-info btn-lg" mat-raised-button>Submit Feedback</button>
            </div>
      </div>
    </mat-card>
  </div>
  <div class="col col-md-2"></div>
</div>
