<mat-toolbar>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span><h1 class="title">{{appName}}</h1></span>
        <span class="spacer"></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a mat-button class="nav-link"  *ngIf="!(isLoggedIn  | async)" routerLink="/">Home</a>
            </li>
            <li class="nav-item active">
                <a mat-button class="nav-link"  *ngIf="(isLoggedIn  | async)" routerLink="/home">Home</a>
              </li>
            <li class="nav-item">
                <a mat-button class="nav-link" routerLink="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" *ngIf="!(isLoggedIn  | async)" routerLink="/about">About Us</a>
            </li>

            <li class="nav-item">
                <a mat-button class="nav-link"  *ngIf="!(isLoggedIn | async)" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link"  *ngIf="!(isLoggedIn  | async)" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" *ngIf="isLoggedIn  | async" routerLink="/profile">Account</a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" *ngIf="isLoggedIn  | async" routerLink="/login">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
 </mat-toolbar>
