.spacer {
    flex: 1 1 auto;
  }
  h1.title {
    text-transform: uppercase;
    font-size: 30px;
    color: #981600;
}

.nav-link {
  font-size: 16px;
  text-transform: uppercase;
}
.bg-light {
  background-color: #f5f5f5!important;
}