.footer {
    padding: 10px;
    margin-top: 8%;
    background: #f5f5f5;
}
.col-md-3 {
    text-align: left;
}
ul.nav {
    float: unset !important;
    text-align: center;
    font-size: 15px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(138, 133, 133, 0.12);
    display: -webkit-inline-box;
}
.text-left {
    text-align: left!important;
    font-size: 10px;
    margin-left: 2px;
    margin-top: -15px;
}
.social-icons a {
    margin-right: 10px;
}