<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h1 class="title">PARADISE.</h1>
          <div class="text-left">
              Copyright &copy;  {{date}}
            </div>
        </div>
        <div class="col-md-8 text-center">
          <ul class="nav">
            
            <li class="nav-item">
                <a href="/privacy" class="nav-link">
                  Privacy Policy
                </a>
              </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="/blog" class="nav-link">
                Blog
              </a>
            </li>
            
          </ul>
        </div>
        <div class="col col-md-2 social-icons">
            <a mat-mini-fab color="ascent"><fa name="facebook"></fa></a>
            <a mat-mini-fab color="ascent"><fa name="google-plus"></fa></a>
            <a mat-mini-fab color="ascent"><fa name="twitter"></fa></a>
        </div>

        
      </div>
    </div>
  </footer>