<div class="main-background">
    <div class="row main-background">
      <div class="col col-md-2"></div>
      <div class="col col-md-8"></div>
      <div class="col col-md-2"></div>
    </div>
</div>
<div class="container">
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <mat-card>
        <mat-card-title class="text-center">About Us</mat-card-title>
    </mat-card>
  </div>
  <div class="col col-md-2"></div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8"></div>
  <div class="col col-md-2"></div>
</div>
</div>