<div class="container top-padding">
    <div class="row">
      <div class="col col-md-12">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Feedbacks">
                    <div class="container top-padding">
                      <div class="row">
                        Demo
                      </div>
                    </div>
                </mat-tab>
                <mat-tab label="Deleted Feedbacks">
                    <div class="container top-padding">
                      <div class="row">
                        Demo
                      </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
      </div>
    </div>
</div>

