<div class="container top-padding">
    <div class="row">
      <div class="col col-md-12">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Users">
                    <div class="container top-padding">
                      <div class="row">
                        
                          <table mat-table [dataSource]="usersData">
                              <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef> User Id </th>
                                  <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                                    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                                </ng-container>
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef> User Role </th>
                                    <td mat-cell *matCellDef="let user">{{user.role}}</td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> User Email </th>
                                    <td mat-cell *matCellDef="let user">{{user.email}}</td>
                                </ng-container>

                                <ng-container matColumnDef="phone">
                                    <th mat-header-cell *matHeaderCellDef> User phone </th>
                                    <td mat-cell *matCellDef="let user">{{user.phone}}</td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
                                <tr mat-row *matRowDef="let userData; columns: userColumns"></tr>
                            </table>
                      </div>
                    </div>
                </mat-tab>
                <mat-tab label=" Add Users">
                  :(
                </mat-tab>
            </mat-tab-group>
        </mat-card>
      </div>
    </div>
</div>