<div class="container">
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      
      <mat-card>
          <mat-card-title class="text-center">Reserve Now</mat-card-title>
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="DateTimeGroup">
              <form [formGroup]="DateTimeGroup">
                <ng-template matStepLabel>Date & Time</ng-template>
                <div class="row top-padding">
                <div class="col col-md-2"></div>
                <div class="col col-md-8 text-center">
                  <div class="row">
                    <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                            <mat-label>Choose Date</mat-label>
                            <input matInput [min]="minDate" [max]="maxDate" formControlName = "fromDate" [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    </div>
                    <div class="col col-md-6">
                        <mat-form-field class="special-full-width" appearance="outline">
                            <mat-label>Choose Timeslot</mat-label>
                            <mat-select formControlName = "timeSlot" placeholder="Select Time Slot">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let timeSolt of timeSlots" [value]="timeSolt">{{timeSolt}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </div>
              
                <div class="conainer">
                  <div class="row justify-content-md-center top-padding text-center guests">
                    
                    <div class="col col-sm-12 col-md-6">
                      <mat-form-field class="special-full-width" appearance="outline">
                          <mat-label>Number of Guests</mat-label>
                          <mat-select formControlName = "guests"  placeholder="Number of Guests">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let guest of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,'custom']" [value]="guest">{{guest}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    
                     
                  </div>
                </div>
               
                <div class="text-center">
                  <button mat-raised-button (click) = "checkAvailabilty()" class="btn btn-warning btn-lg">Check Availability</button>
                </div>
              </div>
                <div class="col col-md-2"></div>
            </div>
           
                <br><br>
                <div class="text-right">
                  <button class="btn btn-info" mat-stroked-button matStepperNext disabled>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="infoFormGroup">
                <form [formGroup]="infoFormGroup">
                  <ng-template matStepLabel>Information</ng-template>
                  <div class="container">
                    <div class="row">
                      <div class="col col-md-6">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>First Name</mat-label>
                              <input matInput placeholder="First Name">
                          </mat-form-field>
                      </div>
                      <div class="col col-md-6">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>Last Name</mat-label>
                              <input matInput placeholder="Last Name">
                          </mat-form-field>
                      </div>
                      <div class="col col-md-12">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>Email id</mat-label>
                              <input matInput placeholder="Email id">
                          </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      
                      <div class="col col-md-6">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>Mobile Number</mat-label>
                              <input matInput placeholder="Mobile Number">
                          </mat-form-field>
                      </div>
                      <div class="col col-md-6">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>Date Of Birth</mat-label>
                              <input matInput [matDatepicker]="DOB" placeholder="Date of Birth">
                              <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
                              <mat-datepicker #DOB></mat-datepicker>
                          </mat-form-field>
                      </div><br><br><br>
                      <div class="col col-md-12">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>Address</mat-label>
                              <textarea matInput placeholder="Address"></textarea>
                          </mat-form-field>
                      </div>
                      <div class="col col-md-12">
                          <mat-form-field class="special-full-width" appearance="outline">
                              <mat-label>Special Note</mat-label>
                              <textarea matInput placeholder="Special Note"></textarea>
                            </mat-form-field>
                        </div>
                   </div>
                  <div class="row justify-content-around">
                  <div class="col col-4">
                    <button class="btn btn-danger" matStepperPrevious>Back</button>
                  </div>
                  <div class="col col-4 text-right">
                    <button class="btn btn-info" matStepperNext>Next</button>
                  </div>
                  </div>
                </div>
                </form>
              </mat-step>

            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
                <div class="text-center">
                    <h2>Thank You</h2>
                    <img src="../../assets/success.png" width="100px"><br><br>
                    <button routerLink="/home" class="btn btn-sm btn-success" mat-outlined-button>Home</button>
                </div>
              <div>
                
              </div>
            </mat-step>
          </mat-horizontal-stepper>  
        </mat-card>        
    </div>
    <div class="col col-md-2"></div>
  </div>
</div>