<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="login">
<mat-toolbar>
  <mat-card class="title-login">
    <span>Login</span>
  </mat-card>
</mat-toolbar>
<mat-card class="login-card">
  <mat-card-content>
    <form class="login-form" [formGroup] = "loginGroup">
        <div class="conatiner">
            <div class="row">
              <div class="col col-md-12">
                <mat-form-field class="special-full-width" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName = "username" placeholder="User Name">
                </mat-form-field> 
              </div>
              <div class="col col-md-12">
                  <mat-form-field class="special-full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" formControlName = "password" placeholder="password">
                  </mat-form-field> 
                </div>
            </div>
        </div>
    </form>
 </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" class="login-button btn btn-danger">Login</button>
  </mat-card-actions>
</mat-card>
<br><br>
<button class="text-center btn-success" mat-raised-button routerLink='/register' color="secondary">Register Now</button>
</div>