.login {
    width: 320px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
}
.login-form table {
    width: 100%;
}
.login-form {
    width: 100%;
}
mat-card.title-login.mat-card {
    width: 100%;
    margin-top: -10%;
}
mat-toolbar {
    background: #007bff ;
}
.login-button {
    background: #007bff;
    color: #fff;
    width: 40%;
}
.mat-progress-bar{
    position:fixed;
    top:0px;
   }