<div class="main-background">
    <div class="row main-background">
      <div class="col col-md-2"></div>
      <div class="col col-md-8"></div>
      <div class="col col-md-2"></div>
    </div>
</div>
<div class="container">
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <mat-card>
        <mat-card-title class="text-center">Food Menu</mat-card-title>
    </mat-card>
  </div>
  <div class="col col-md-2"></div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
      <mat-accordion>
          <mat-expansion-panel *ngFor="let category of foodCategories">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{category.name}}
              </mat-panel-title>
              <mat-panel-description>
                Expand to see {{category.name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <div class="container">
                  <div class="row">
                    <div class="col col-md-12" *ngFor="let item of foodItems">
                          <mat-card *ngIf="(category.name == item.category)">
                            <div class="container">
                              <div class="row">
                                <div class="col col-md-6">
                                  <h6>{{item.name}}</h6>
                                  <br>
                                  <p>{{item.description}}</p>
                                </div>
                                <div class="text-right col col-md-4">
                                  <h6>{{item.price | currency:'INR':true}}</h6>
                                </div>
                              </div>
                            </div>
                          </mat-card> 
                    </div>
                  </div>
                </div>
              </mat-panel-description>
            
          </mat-expansion-panel>
        </mat-accordion>
  </div>
  <div class="col col-md-2"></div>
</div>
<br><br>
<div class="row text-center">
  <div class="col">
<button class="text-center btn-success" mat-raised-button routerLink='/home' color="secondary">Go Back</button>
</div>
</div>
</div>

