.main-container {
    width: 100%;
    height: 100%;
  }
  
  .main-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .main-sidenav {
    padding: 0px;
    width: 200px;
  }
  .main-welcome {
    padding: 31px;
    background: #007bff;
    color: #fff;
}
label {
    font-size: 15px;
}

mat-card.mat-card {
    cursor: pointer;
    padding: 10px;
}