
  .main-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .main-sidenav {
    padding: 20px;
  }
  .main-welcome {
    padding: 31px;
    background: #007bff;
    color: #fff;
}
.mat-table{
    width: 100%;
}