
  <div class="container top-padding">
    <div class="row">
      <div class="col col-md-2">
          <mat-card>
              <mat-card-subtitle>Tables</mat-card-subtitle>
              <div class="row">
                  <div class="col col-md-12">
                      <div class="text-center">
                        <h1>{{adminCounts.tablesCount}}</h1>
                        Total Tabels
                      </div>
                  </div>
                </div>
        </mat-card>
      </div>
      <div class="col col-md-2">
          <mat-card>
              <mat-card-subtitle>Resevations</mat-card-subtitle>
              <div class="row">
                  <div class="col col-md-12">
                      <div class="text-center">
                        <h1>{{adminCounts.reservationCount}}</h1>
                        Total Resevations
                      </div>
                  </div>
                </div>
        </mat-card>
      </div>
      <div class="col col-md-2">
          <mat-card>
              <mat-card-subtitle>Orders</mat-card-subtitle>
              <div class="row">
                  <div class="col col-md-12">
                      <div class="text-center">
                        <h1>{{adminCounts.ordersCount}}</h1>
                        Total Orders
                      </div>
                  </div>
                </div>
        </mat-card>
      </div>
      <div class="col col-md-2">
          <mat-card>
              <mat-card-subtitle>Categories</mat-card-subtitle>
              <div class="row">
                  <div class="col col-md-12">
                      <div class="text-center">
                        <h1>{{adminCounts.itemCategoryCount}}</h1>
                        Total Categories
                      </div>
                  </div>
                </div>
        </mat-card>
      </div>
      
      <div class="col col-md-2">
          <mat-card>
              <mat-card-subtitle>Food Items</mat-card-subtitle>
              <div class="row">
                  <div class="col col-md-12">
                      <div class="text-center">
                        <h1>{{adminCounts.itemsCount}}</h1>
                        Total Items
                      </div>
                  </div>
                </div>
        </mat-card>
      </div>
      <div class="col col-md-2">
          <mat-card>
              <mat-card-subtitle>Users</mat-card-subtitle>
              <div class="row">
                  <div class="col col-md-12">
                      <div class="text-center">
                        <h1>{{adminCounts.usersCount}}</h1>
                        Total Users
                      </div>
                  </div>
                </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container top-padding">
    <mat-card>
      <div class="row">
          <table mat-table [dataSource]="reservationsData">
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> reservation Id </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
              </ng-container>
              <ng-container matColumnDef="fromDate">
                  <th mat-header-cell *matHeaderCellDef> From Date </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.fromDate}} </td>
              </ng-container>
              <ng-container matColumnDef="timeSlot">
                  <th mat-header-cell *matHeaderCellDef> Time Slot </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.timeSlot}} </td>
              </ng-container>
              <ng-container matColumnDef="guests">
                  <th mat-header-cell *matHeaderCellDef> Guests </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.guests}} </td>
              </ng-container>
              <ng-container matColumnDef="tableId">
                  <th mat-header-cell *matHeaderCellDef> Table Id </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.tableId}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.email}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef> Phone </th>
                  <td mat-cell *matCellDef="let reservation"> {{reservation.phone}} </td>
              </ng-container>
              
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let reservation">
                    <button mat-raised-button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Delete</button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="reservationsColumns"></tr>
              <tr mat-row *matRowDef="let reservationsColumns; columns: reservationsColumns"></tr>
          </table>
      </div>
    </mat-card>
  </div>