.carousel-inner {
    height:400px;
}

.container.testmonials-home {
    height: 150px;
}

.testmonials-home {
    background: #007bff;
}

.highlights {
    margin-top: -10%;
    margin-bottom:-3%;
}

.mat-card-image {
    height: 200px;
}
.home-menu-items {
    width: 100%;
    padding: 18px;
    margin-top: -10%;
    font-family: roboto;
    font-size: 20px;
    background: #007bff;
    border: none;
}