<div id="mainSlide" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class=" w-100" src="../../assets/slides/slide-1.jpg" alt="First slide">
      </div>
    </div>
  </div>
  <div class="container highlights">
    <div class="row">
      <div class="col col-md-2"></div>
      <div class="col col-md-4">
          <div class="md-card-wrapper">
              <mat-card routerLink="/menu">
                <img mat-card-image src="../../assets/slides/slide-2.jpg">
                <div class="text-center"><button mat-reaised-button class="btn btn-danger home-menu-items">View Menu Items</button></div>
              </mat-card>
            </div>            
      </div>
      <div class="col col-md-4">
          <div class="md-card-wrapper">
              <mat-card routerLink="/login">
                <img mat-card-image src="../../assets/img/reserve-table.jpg">
                <div class="text-center"><button mat-reaised-button class="btn btn-danger home-menu-items">Table Reservation</button></div>
              </mat-card>
            </div>            
      </div>
      <div class="col col-md-1">
      </div>
    </div>
  </div>
  