<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer opened class="main-sidenav text-center" mode="side">
      <mat-card routerLink="/admin">
         <mat-card-title> <a mat-mini-fab color="primary"><fa name="home"></fa></a></mat-card-title>
         <label>Dashboard</label>
      </mat-card>
      <mat-divider></mat-divider>

      <mat-card routerLink="/admin/menu">
        <mat-card-title> <a mat-mini-fab color="primary"><fa name="cutlery"></fa></a></mat-card-title>
        <label>Food Menu</label>
      </mat-card>
      <mat-divider></mat-divider>

      <mat-card routerLink="/admin/bookings">
        <mat-card-title> <a mat-mini-fab color="primary"><fa name="handshake-o"></fa></a></mat-card-title>
        <label>Reservations</label>
      </mat-card>
      <mat-divider></mat-divider>

      <mat-card routerLink="/admin/tables">
        <mat-card-title> <a mat-mini-fab color="primary"><fa name="braille"></fa></a></mat-card-title>
        <label>Tables</label>
      </mat-card>
      <mat-divider></mat-divider>

      <mat-card routerLink="/admin/users">
        <mat-card-title> <a mat-mini-fab color="primary"><fa name="users"></fa></a></mat-card-title>
        <label>Users</label>
      </mat-card>
      <mat-divider></mat-divider>

      <mat-card routerLink="/admin/settings">
        <mat-card-title> <a mat-mini-fab color="primary"><fa name="cogs"></fa></a></mat-card-title>
        <label>Settings</label>
      </mat-card>
      <mat-divider></mat-divider>

    </mat-drawer>
    <div class="main-welcome">
        <div class="row">
            <div class="col col-md-1">
            <a mat-mini-fab color="ascent" (click)="drawer.toggle()"><fa name="bars"></fa></a>
            </div>
            <div class="col col-md-10 text-center"><h4>Dashboard</h4></div>
            <div class="col col-md-1"></div>
        </div>
      </div>
    <router-outlet></router-outlet>
  </mat-drawer-container>

      
