<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer opened class="main-sidenav text-center" mode="side">
        <mat-card routerLink="/chef">
          <mat-card-title> <a mat-mini-fab color="primary"><fa name="home"></fa></a></mat-card-title>
          <label>Dashboard</label>
       </mat-card>
       <mat-divider></mat-divider>
    

    </mat-drawer>
    <div class="main-welcome">
      <div class="row">
          <div class="col col-md-1">
          <a mat-mini-fab color="ascent" (click)="drawer.toggle()"><fa name="bars"></fa></a>
          </div>
          <div class="col col-md-10 text-center"><h4>Welcome</h4></div>
          <div class="col col-md-1"></div>
      </div>
    </div>
   <router-outlet></router-outlet>
  </mat-drawer-container>

      
