<div class="main-background">
    <div class="row main-background">
      <div class="col col-md-2"></div>
      <div class="col col-md-8"></div>
      <div class="col col-md-2"></div>
    </div>
</div>
<div class="container">
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <mat-card>
        <mat-card-title class="text-center">Account</mat-card-title>
    </mat-card>
  </div>
  <div class="col col-md-2"></div>
</div>

<div class="container">
    <div class="row">
      <div class="col col-md-2"></div>
      <div class="col col-md-8" style="padding: 5px">
        <mat-card>
        <mat-tab-group>
            
            <mat-tab label="Account Info">
              <div class="container">
                <div class="row">

                  
                      <div class="col col-md-3 top-padding">
                        <mat-card class="text-center">
                          <img *ngIf="(userData.gender === 'male')" class="image" src='../../assets/img/male.png'>
                          <img *ngIf="(userData.gender === 'female')" class="image" src='../../assets/img/female.png'>
                          Account: {{userData.username}}

                        </mat-card>
                      </div>
                      <div class="col col-md-9 top-padding">
                          <mat-card>
                        <div class="col col-md-6">First Name : {{userData.firstName}}</div>
                        <div class="col col-md-6">last Name : {{userData.lastName}}</div>
                        <div class="col col-md-6">User Name : {{userData.username}}</div>
                        <div class="col col-md-6">Phone : {{userData.phone}}</div>
                        <div class="col col-md-6">Email : {{userData.email}}</div>
                      </mat-card>
                      </div>
                  
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Booking History">
                <div *ngIf="(userReservationsData === undefined)" class="text-center top-padding">
                  <h3>No Bookings :(</h3>
                </div>
                  <table mat-table *ngIf="(userReservationsData !== undefined)" [dataSource]="userReservationsData" >
                      <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> reservation Id </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
                      </ng-container>
                      <ng-container matColumnDef="fromDate">
                          <th mat-header-cell *matHeaderCellDef> From Date </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.fromDate}} </td>
                      </ng-container>
                      <ng-container matColumnDef="timeSlot">
                          <th mat-header-cell *matHeaderCellDef> Time Slot </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.timeSlot}} </td>
                      </ng-container>
                      <ng-container matColumnDef="guests">
                          <th mat-header-cell *matHeaderCellDef> Guests </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.guests}} </td>
                      </ng-container>
                      <ng-container matColumnDef="tableId">
                          <th mat-header-cell *matHeaderCellDef> Table Id </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.tableId}} </td>
                      </ng-container>
                      <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef> Email </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.email}} </td>
                      </ng-container>
                      <ng-container matColumnDef="phone">
                          <th mat-header-cell *matHeaderCellDef> Phone </th>
                          <td mat-cell *matCellDef="let reservation"> {{reservation.phone}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef> Status </th>
                          <td mat-cell *matCellDef="let reservation">{{reservation.status}}</td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="reservationsColumns"></tr>
                      <tr mat-row *matRowDef="let reservationsColumns; columns: reservationsColumns"></tr>
                  </table>
              </mat-tab>
            <mat-tab label="Update Info">
                Update form
              </mat-tab>
        </mat-tab-group>
      </mat-card>
      </div>
      <div class="col col-md-2"></div>
    </div>

    <div class="row text-center">
        <div class="col">
      <button class="text-center btn-success" mat-raised-button routerLink='/home' color="secondary">Go Back</button>
      </div>
      </div>
</div>
        