.mat-tab-list {
    text-align: center;
}
.mat-tab-labels {
    display: block;
    text-align: center;
}
.mat-table{
    width: 100%;
}
.col.col-md-6 {
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: inherit;
    margin-bottom: 3px;
}
.image {
    width: 100px;
}