<div class="container">
  <div class="row top-padding">
    <div class="col col-md-6 text-center">
      <mat-card>
        <mat-card-subtitle>site title</mat-card-subtitle><br>
        <form [formGroup] = 'settings'>
            <mat-form-field class="special-full-width" appearance="outline">
                <mat-label>Site Name</mat-label>
                <input matInput formControlName='siteName' placeholder="Site Name">
            </mat-form-field>
            <br>
               <button mat-raised-button class="btn btn-success">Save Changes</button>
            
        </form>
      </mat-card>
    </div>
    <div class="col col-md-6 text-center">
      <mat-card>
        <mat-card-subtitle>Change Password</mat-card-subtitle>
        <form [formGroup] = 'changePassword'>
            <mat-form-field class="special-full-width" appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput formControlName='oldPassword' placeholder="Old Password">
            </mat-form-field>
            <br>
            <mat-form-field class="special-full-width" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput formControlName='newPassword' placeholder="New Password">
            </mat-form-field>
            <br>
            <mat-form-field class="special-full-width" appearance="outline">
                <mat-label>Re Enter Password</mat-label>
                <input matInput formControlName='reEnterPassword' placeholder="ReEnterPassword">
            </mat-form-field>
            <br>
               <button mat-raised-button class="btn btn-success">Change Password</button>
            
        </form>
      </mat-card>
    </div>
  </div>
</div>