
<div class="container top-padding">
    <div class="row">
      <div class="col col-md-12">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Menu Categories">
                  <div class="container">
                    <div class="row">
                      <div class="col col-md-6 table-height">
                          <table mat-table [dataSource] = "categoriesData">
                              <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef> Category Id </th>
                                  <td mat-cell *matCellDef="let category"> {{category.id}} </td>
                              </ng-container>
                              <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Category Name </th>
                                  <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                              </ng-container>
                              <ng-container matColumnDef="delete">
                                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                                  <td mat-cell *matCellDef="let category">
                                    <button mat-raised-button class="btn btn-danger">Delete</button>
                                  </td>
                              </ng-container>
                              <ng-container matColumnDef="update">
                                  <th mat-header-cell *matHeaderCellDef> Update </th>
                                  <td mat-cell *matCellDef="let category"> 
                                    <button mat-raised-button class="btn btn-info">Update</button>
                                  </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="categoriesColumns"></tr>
                              <tr mat-row *matRowDef="let categoriesData; columns: categoriesColumns"></tr>
                              
                          </table>
                      </div>
                      <div class="col col-md-6 text-center">
                        <mat-card>
                          <mat-card-subtitle>Add Category</mat-card-subtitle>
                          <form [formGroup]="MenuCategoriesGroup">
                              <mat-form-field class="special-full-width" appearance="outline">
                                  <mat-label>Category Name</mat-label>
                                  <input matInput placeholder="Category Name">
                              </mat-form-field> <br>
                              <button mat-raised-button>Add Category</button>
                          </form>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Menu Items">
                  <div class="container">
                    <div class="row">
                      <div class="col col-md-12 table-height">
                          <mat-form-field>
                              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                          </mat-form-field>
                          <table mat-table [dataSource] = "foodMenu">
                              <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef> Item Id </th>
                                  <td mat-cell *matCellDef="let item"> {{item.id}} </td>
                              </ng-container>
                              <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Item Name </th>
                                  <td mat-cell *matCellDef="let item">
                                      <mat-form-field *ngIf="item.editenable; else justLable" class="example-full-width">
                                          <input matInput [(ngModel)]="item.name">
                                      </mat-form-field>
                                      <ng-template #justLable>
                                          {{ item.name }}
                                      </ng-template>
                                  </td>
                              </ng-container>
                              <ng-container matColumnDef="category">
                                  <th mat-header-cell *matHeaderCellDef> Item Category </th>
                                  <td mat-cell *matCellDef="let item">
                                      <mat-form-field *ngIf="item.editenable; else justLable" class="example-full-width">
                                          <input matInput [(ngModel)]="item.category">
                                      </mat-form-field>
                                      <ng-template #justLable>
                                          {{ item.category }}
                                      </ng-template>
                                  </td>
                              </ng-container>
                              <ng-container matColumnDef="price">
                                  <th mat-header-cell *matHeaderCellDef> Item price </th>
                                  <td mat-cell *matCellDef="let item">
                                      <mat-form-field *ngIf="item.editenable; else justLable" class="example-full-width">
                                          <input matInput [(ngModel)]="item.price">
                                      </mat-form-field>
                                      <ng-template #justLable>
                                              {{item.price}}
                                      </ng-template>
                                  </td>
                              </ng-container>
  
                              <ng-container matColumnDef="delete">
                                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                                  <td mat-cell *matCellDef="let item">
                                    <button mat-raised-button class="btn btn-danger" (click)="deleteMenuItem(item.id)">Delete</button>
                                  </td>
                              </ng-container>
                              <ng-container matColumnDef="update">
                                  <th mat-header-cell *matHeaderCellDef> Edit </th>
                                  <td mat-cell *matCellDef="let item">
                                      <button mat-raised-button class="btn btn-info" (click)="editMenuItem(item)">
                                           {{ item.editenable ? 'Ok' : 'Edit'}}
                                      </button>
                                  </td>
                              </ng-container>
  
                              <tr mat-header-row *matHeaderRowDef="foodColumns"></tr>
                              <tr mat-row *matRowDef="let foodColumns; columns: foodColumns"></tr>
                          </table>
                          <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Add Menu Item">
                    <div class="container">
                      <div class="row justify-content-center text-center">
                        <div class="col col-md-8">
                          <mat-card>
                              <form [formGroup]="MenuItemGroup">
                                  <mat-form-field class="special-full-width" appearance="outline">
                                      <mat-label>Item Name</mat-label>
                                      <input matInput formControlName = "itemName" placeholder="Item Name">
                                  </mat-form-field> <br>
                                  <mat-form-field class="special-full-width" appearance="outline">
                                      <mat-label>Item Price</mat-label>
                                      <input matInput formControlName = "itemPrice" placeholder="Item Price">
                                  </mat-form-field> <br>
                                  <mat-form-field class="special-full-width" appearance="outline">
                                      <mat-label>Choose category</mat-label>
                                      <mat-select formControlName = "itemCategory" placeholder="Select Time Slot">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let category of categoriesData" [value]="category.name">{{category.name}}</mat-option>
                                      </mat-select>
                                    </mat-form-field> <br>
                                  <button mat-raised-button (click) = "addMenuItem()">Add Item</button>
                              </form>
                            
                          </mat-card>
                          
                        </div>
                      </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>