<div class="container top-padding">
    <div class="row text-center">
        <table mat-table [dataSource]="managerReservationsData">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> reservation Id </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
            </ng-container>
            <ng-container matColumnDef="fromDate">
                <th mat-header-cell *matHeaderCellDef> From Date </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.fromDate}} </td>
            </ng-container>
            <ng-container matColumnDef="timeSlot">
                <th mat-header-cell *matHeaderCellDef> Time Slot </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.timeSlot}} </td>
            </ng-container>
            <ng-container matColumnDef="guests">
                <th mat-header-cell *matHeaderCellDef> Guests </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.guests}} </td>
            </ng-container>
            <ng-container matColumnDef="tableId">
                <th mat-header-cell *matHeaderCellDef> Table Id </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.tableId}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.email}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let reservation"> {{reservation.phone}} </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let reservation">{{reservation.status}}</td>
            </ng-container>
            <ng-container matColumnDef="takeOrder">
                <th mat-header-cell *matHeaderCellDef> Take Order </th>
                <td mat-cell *matCellDef="let reservation">
                  <button mat-raised-button class="btn btn-danger">Take Order</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="reservationsColumns"></tr>
            <tr mat-row *matRowDef="let reservationsColumns; columns: reservationsColumns"></tr>
        </table>
    </div>
</div>