<div class="container top-padding">
    <div class="row">
      <div class="col col-md-12">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Reservations">
                    <div class="container top-padding">
                      <div class="row">
                          <table mat-table [dataSource]="reservationsData">
                              <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef> reservation Id </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
                              </ng-container>
                              <ng-container matColumnDef="fromDate">
                                  <th mat-header-cell *matHeaderCellDef> From Date </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.fromDate}} </td>
                              </ng-container>
                              <ng-container matColumnDef="timeSlot">
                                  <th mat-header-cell *matHeaderCellDef> Time Slot </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.timeSlot}} </td>
                              </ng-container>
                              <ng-container matColumnDef="guests">
                                  <th mat-header-cell *matHeaderCellDef> Guests </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.guests}} </td>
                              </ng-container>
                              <ng-container matColumnDef="tableId">
                                  <th mat-header-cell *matHeaderCellDef> Table Id </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.tableId}} </td>
                              </ng-container>
                              <ng-container matColumnDef="email">
                                  <th mat-header-cell *matHeaderCellDef> Email </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.email}} </td>
                              </ng-container>
                              <ng-container matColumnDef="phone">
                                  <th mat-header-cell *matHeaderCellDef> Phone </th>
                                  <td mat-cell *matCellDef="let reservation"> {{reservation.phone}} </td>
                              </ng-container>
                              
                              <ng-container matColumnDef="delete">
                                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                                  <td mat-cell *matCellDef="let reservation">
                                    <button mat-raised-button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Delete</button>
                                  </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="reservationsColumns"></tr>
                              <tr mat-row *matRowDef="let reservationsColumns; columns: reservationsColumns"></tr>
                          </table>
                      </div>
                    </div>
                </mat-tab>
                <mat-tab label="New Reservation">
                    <div class="container top-padding">
                      <div class="row">
                        
                        <div class="col col-md-6">
                            <div class="container">
                                <div class="row">
                                  <div class="col col-md-6">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>First Name</mat-label>
                                          <input matInput placeholder="First Name">
                                      </mat-form-field>
                                  </div>
                                  <div class="col col-md-6">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Last Name</mat-label>
                                          <input matInput placeholder="Last Name">
                                      </mat-form-field>
                                  </div>
                                  <div class="col col-md-12">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Email id</mat-label>
                                          <input matInput placeholder="Email id">
                                      </mat-form-field>
                                  </div>
                                </div>
                                <div class="row">
                                  
                                  <div class="col col-md-6">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Mobile Number</mat-label>
                                          <input matInput placeholder="Mobile Number">
                                      </mat-form-field>
                                  </div>
                                  <div class="col col-md-6">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Date Of Birth</mat-label>
                                          <input matInput [matDatepicker]="DOB" placeholder="Date of Birth">
                                          <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
                                          <mat-datepicker #DOB></mat-datepicker>
                                      </mat-form-field>
                                  </div><br><br><br>
                                  <div class="col col-md-12">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Address</mat-label>
                                          <textarea matInput placeholder="Address"></textarea>
                                      </mat-form-field>
                                  </div>
                                  
                               </div>
                              
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <form [formGroup]="DateTimeGroup">
                              <ng-template matStepLabel>Date & Time</ng-template>
                              <div class="row top-padding">
                              <div class="col col-md-2"></div>
                              <div class="col col-md-8 text-center">
                                <div class="row">
                                  <div class="col col-md-6">
                                  <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Choose Date</mat-label>
                                          <input matInput [min]="minDate" [max]="maxDate" formControlName = "fromDate" [matDatepicker]="picker" placeholder="Choose a date">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  </div>
                                  <div class="col col-md-6">
                                      <mat-form-field class="special-full-width" appearance="outline">
                                          <mat-label>Choose Timeslot</mat-label>
                                          <mat-select formControlName = "timeSlot" placeholder="Select Time Slot">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let timeSolt of timeSlots" [value]="timeSolt">{{timeSolt}}</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                  </div>
                                </div>
                            
                              <div class="conainer">
                                <div class="row justify-content-md-center top-padding text-center guests">
                                  
                                  <div class="col col-sm-12 col-md-6">
                                    <mat-form-field class="special-full-width" appearance="outline">
                                        <mat-label>Number of Guests</mat-label>
                                        <mat-select formControlName = "guests"  placeholder="Number of Guests">
                                          <mat-option>None</mat-option>
                                          <mat-option *ngFor="let guest of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,'custom']" [value]="guest">{{guest}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                  </div>
                                  
                                   
                                </div>
                              </div>
                             
                              <div class="text-center">
                                <button mat-raised-button (click) = "checkAvailabilty()" class="btn btn-warning btn-lg">Check Availability</button>
                              </div>
                            </div>
                              <div class="col col-md-2"></div>
                              </div><br>
                              <div class="row justify-content-md-center">
                                <button mat-raised-button class="btn btn-success btn-lg">Add New Reservation</button>
                              </div>
                            </form>
                    </div>
                      </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
      </div>
    </div>
</div>

