.container.main-navigations {
    padding: 2px;
    margin-top: 25px;
}

.mat-card-image {
    height: 130px !important;
}

.mat-stroked-button{
    width: 100%;
    height: 20%;
    padding: 2px;
    font-size: 17px;
    text-transform: uppercase;
    background: #007bff;
    color: #fff;
}

.account-button button {
    border-radius: 50px;
    font-size: 13px !important;
    padding: 0 !important;
}

.account-button {
    width: 23%;
    margin: 0 auto;
    margin-top: -30px;
}