<div class="main-background">
    <div class="row main-background">
      <div class="col col-md-2"></div>
      <div class="col col-md-8"></div>
      <div class="col col-md-2"></div>
    </div>
</div>
<div class="container">
  <div class="row main-page">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
        <mat-card>
            <mat-card-title class="text-center">Welcome {{userName}}</mat-card-title>
            <mat-card-subtitle class="text-center">Have a great day</mat-card-subtitle><br>
            <div class="text-center account-button">
            <button mat-stroked-button routerLink="/profile" class="account">My Account</button>
            </div>
        </mat-card>
    </div>
    <div class="col col-md-2"></div>
  </div>
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      <div class="container main-navigations">
        <div class="row text-center">
          <div class="col col-md-4">
              <mat-card routerLink="/menu">
                  <img mat-card-image src="../../assets/img/food-menu.jpg">
                  <button  mat-stroked-button class="btn btn-primary">View Food Menu</button>
              </mat-card>
          </div>
          <div class="col col-md-4">
              <mat-card routerLink="/booking">
                <img mat-card-image src="../../assets/img/reserve-table.jpg">
                <button mat-stroked-button class="btn btn-success">Reserve a Table</button>
              </mat-card>
          </div>
          <div class="col col-md-4">
              <mat-card routerLink="/feedback">
                  <img mat-card-image src="../../assets/img/feedback.jpg">
                <button mat-stroked-button class="btn btn-info">Give a FeedBack</button>
              </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-2"></div>
  </div>
</div>