<div class="register">
  <mat-toolbar>
      <mat-card class="title-register">
    <span>Registration</span>
    </mat-card>
  </mat-toolbar>
  <mat-card class="register-card">
      <mat-card-content>
        <form class="register-form" [formGroup] = "registerGroup">
            <div class="conatiner">
              <div class="row">
                <div class="col col-md-6">
                  <mat-form-field class="special-full-width" appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput formControlName = "firstName" placeholder="First Name">
                  </mat-form-field> 
                </div>
                <div class="col col-md-6">
                  <mat-form-field class="special-full-width" appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput formControlName = "lastName" placeholder="last Name">
                  </mat-form-field> 
                </div>
              </div>
              <div class="row" style="padding:10px">
                <mat-card class="special-full-width">
                  <mat-radio-group formControlName="gender">
                      <mat-radio-button [value]="'Male'">Male</mat-radio-button>
                      <mat-radio-button [value]="'Female'">Female</mat-radio-button>
                  </mat-radio-group>
                </mat-card><br>
              </div>
              <div class="row">
                  <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName = "username" placeholder="User Name">
                    </mat-form-field>
                    </div>
                  <div class="col col-md-6">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName = "phone" placeholder="Phone">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col col-md-12">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>email</mat-label>
                        <input matInput formControlName = "email" placeholder="Email">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col col-md-12">
                    <mat-form-field class="special-full-width" appearance="outline">
                        <mat-label>password</mat-label>
                        <input type="password" matInput formControlName = "password" placeholder="password">
                    </mat-form-field>
                  </div>
              </div>
            <button mat-raised-button class="btn btn-info">Register</button>
        </div>
        </form>
        </mat-card-content>
    </mat-card>
</div>