.register {
    width: 460px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
}
.register-form table {
    width: 100%;
}

.register-form {
    width: 100%;
}
mat-radio-button {
    margin-right: 4%;
}
mat-card.title-register.mat-card {
    width: 100%;
    margin-top: -10%;
}
.register-button {
    background: #007bff;
    color: #fff;
    width: 40%;
}

mat-toolbar {
    background: #007bff ;
}

.special-full-width{
    width: 100%;
}

.btn{
    background: #007bff;
    width: 200px;
    color:#fff;
    height: 50px;
    font-size: 15px;
}